<div class="container">
    <p>hero list!</p>
    <div class="row">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="">ID</label>
                    <input type="text" name="id" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Image</label>
                    <input type="text" name="image" class="form-control">
                </div>
                <div class="text-center">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        
        <div class="col-3" *ngFor="let hero of heroes">
            <img [src]="hero.image" class="img-thumbnail">
            <p>
                <strong [innerHTML]="hero.name"></strong>
            </p>
            <ng-container *ngIf="hero.skills != undefined"> 
                <span *ngFor="let ski of hero.skills" class="badge text-white bg-primary">{{ski.name}}</span> 
            </ng-container>
        </div>
    </div>
</div>
